NODE_ENV=development
PORT=3500
MONGO_URI=mongodb://localhost:27017/linkgenserver
REDIS_URL=redis://localhost:6379
JWT_SECRET=change_me
FRONTEND_URL=http://localhost:3000
FRONTEND_URL_DEV=http://localhost:3000

POLAR_API_BASE_URL=https://api.polar.sh/v1
POLAR_ACCESS_TOKEN=polar_access_token_here
POLAR_WEBHOOK_SECRET=polar_webhook_secret_here
POLAR_CHECKOUT_SUCCESS_URL=http://localhost:3000/billing/success
POLAR_CHECKOUT_CANCEL_URL=http://localhost:3000/billing/cancel
RESEND_API_KEY=JOJJJOJOJOJOOJ
EMAIL=example@test.com